<span>Count: {{count}}</span><span> ~~~ Info Id: <a href="#!/edit/{{card.info._id}}">{{card.info._id}}</a></span><span> ~~~ Deck: {{card.tags[0].name}}</span>
<div>
  <hscard card="card"></hscard>
</div>
<button type="button" class="btn btn-success" ng-click="$ctrl.postHistoryAndNext(1)">(y)es!</button>
<button type="button" class="btn btn-warning" ng-click="$ctrl.postHistoryAndNext(0)">(p)ass</button>
<button type="button" class="btn btn-danger" ng-click="$ctrl.postHistoryAndNext(-1)">(n)ope</button>
