.flashCard {
    border-color: black;
    border-style: solid;
    padding: 5px;
}
.callBox {
    border-color: black;
    border-style: solid solid dashed solid;
    padding: 10px;
    font-size: 200%;
}
.responseBox {
    border-color: black;
    border-style: none solid solid solid;
    padding: 10px;
    font-size: 200%
}    